<div class="cl-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="why-edit-box">
        <h3>
            <%= auteur.nom %>
        </h3>
        <div class="citations">
            <% for(let citation of auteur.citations){ %>
                <p>
                    <%= citation %>
                </p>
                <% } %>
        </div>

        <div class="form-group form">
            <textarea id="citation<%= auteur.id_auteur %>" placeholder="Nouvelle citation..." class="form-control citationJS" rows="3"></textarea>
            <p id="infos<%= auteur.id_auteur %>"></p>
            <button type="button" class="btn btn-primary" onclick="ajouterCitation(<%= auteur.id_auteur %>)">Ajouter</button>
        </div>
    </div>
</div>